:root {
    --main-font-family: 'Arial', sans-serif;
    --main-font-size: 14px;
}


$primary-color: #9C69E2;
$secondary-color: #F063B8;
$hover-color: #8A40EE;
$text-color: #000;
$main-font-family: 'Arial', sans-serif;
$main-font-size: 14px;
